<div class="fluid-container ml-3">
  <div class="card-columns">
    <app-person-card [person]="person" [viewerComponent]="this" *ngFor="let person of parentPersons" ></app-person-card>
  </div>
  <div class="card-columns ml-3">
    <app-person-card [person]="person" [viewerComponent]="this" *ngFor="let person of sameLevelPersons">
    </app-person-card>
  </div>
  <div class="card-columns ml-5">
    <app-person-card [person]="person" [viewerComponent]="this" *ngFor="let person of childPersons"></app-person-card>
  </div>
</div>