<div class="card" >
    <div class="card-body">
        <h4 class="card-title">{{person.name}}</h4>
        <span class="badge badge-pill badge-info">{{person.id}}</span>
        <span class="badge badge-pill badge-success"
            [ngClass]="{'badge-danger': person.gender.toUpperCase() === 'MALE'}">{{person.relationship}}</span>
        <p class="card-text">{{person.stories}}</p>
        <button type="button" class="btn btn-primary" (click)="this.showRelations(person)">Show Relations</button>
    </div>
</div>