<form class="col-md-4">
<div class="form-group">
  <label for="person1">Person1</label>
  <input type="text" class="form-control" name="person1" id="person1" aria-describedby="person1" placeholder="Person1" [(ngModel)]="this.person1">
  
</div>

<div class="form-group">
  <label for="person2">Person2</label>
  <input type="text" class="form-control" name="person2" id="person2" aria-describedby="person2" placeholder="person2" [(ngModel)]="this.person2">
  
</div>

<button type="button" class="btn btn-primary" (click)="this.findRelationship()">Find Relation</button>
</form>
<div class="col-md-4">
<app-person-card [person]="person" *ngFor="let person of linkPersons"></app-person-card>
</div>